{% extends '::base.html.twig' %}

{% block body -%}

        {% for entity in entities %}

            <tr>

                <td><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td> <br><br>
                
                <td><span style="max-width: 10px">{{ entity.text }}</span></td> <br><br><br>
                               
            </tr>

{% endfor %}

            

{% endblock %} 
