{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Добавление новости</h1><br>
    <form action="{{ path('_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <br><p><button type="submit" class="button">Добавить</button></p>
    </form>

        <ul class="record_actions">
        <br><a href="{{ path('') }}">На главную</a>
        </ul>
{% endblock %} 
